
<mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content >
        <div>
            <img src="../../../assets/CCC.png" alt="">
        </div>
        <div>
            <form (ngSubmit)="login()">
                <p>
                    <mat-form-field>
                        <input type="text" matInput placeholder="Username" [(ngModel)]="username" name="username">
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <input type="password" matInput placeholder="Password" [(ngModel)]="password" name="password">
                    </mat-form-field>
                </p>
                <div class="button">
                    <button type="submit" mat-button >Submit</button>
                </div>
            </form>
        </div>
        
    </mat-card-content>
</mat-card>