:host {
    display: flex;
    justify-content: center;
    margin: 220px 0px;
  }

  .mat-form-field {
    width: 100%;
    min-width: 300px;
  }

  mat-card-title{
    display: flex;
    justify-content: center;
  }
  mat-card-content {
    display: flex;
    flex-direction: row;
  }

  .button{
    display: flex;
    justify-content: right;
  }

