<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="example-toolbar">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <h1 class="example-app-name">Human Resources App</h1>
      <span class="material-icons" style="margin-left: 1090px;cursor: pointer;" (click)="logout()">logout</span>
    </mat-toolbar>
  
    <mat-sidenav-container class="example-sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                   [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list>
          <a mat-list-item style="color:white" [routerLink]="nav.Route" *ngFor="let nav of navMenu">{{nav.Title}}</a>
        </mat-nav-list>
      </mat-sidenav>
  
      <mat-sidenav-content>
        <mat-card>
          <router-outlet></router-outlet>
        </mat-card>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
